
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <link href="../static/css/main.css" rel="stylesheet">
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="../static/css/main.css" rel="stylesheet" >
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function ButtonClicked()
    {
      alert("your file is successfully uploaded.It will be soon shown in Study Material!");
      return true;
    }
    function ButtonClicked2()
{
  alert("Thankyou for your feedback!Your feedback has been successfully sent to admins.");
   document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
   document.getElementById("buttonreplacement").style.display = ""; // to display
   return true;
}
    </script>  
    </head>
        <body >
            <header>
                <div class="nav" style="overflow: hidden;">
                   
                  <img src="../static/name.JPG" style="width: 150px; height:50px;">
                   <a style=" margin-top:3px;margin-bottom:3px;margin-left:55%;color:black;text-decoration: none; " href="{{url_for('homepage')}}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                   <a style=" margin-top:3px;margin-bottom:3px;background-color:lightblue;color:black;text-decoration: none; " href=#Content><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>Content</a> 
                   <a style=" margin-top:3px;margin-bottom:3px;" href="{{url_for('contactus')}}"><i class="fa fa-phone fa-fw"></i>ContactUs</a> 
    
                   <a href="{{url_for('index')}} " style="margin-top:3px;margin-bottom:3px;color:black;text-decoration: none;"><i class="fa fa-sign-out fa-fw"></i>Logout</a> 
                </div>
              </header>
              <marquee behavior="scroll" width="100%" direction="right" height="50px" scrollamount="8" style="background-color:lightblue; color:black;">
        
                <p style="margin-top: 14px;font-size: 18px; color:black;"><i>Stay home.Stay safe.<a href="{{url_for('mapcorona')}}" style="color:red;"> Click here</a> to see which cities are currently in red,orange and green zones.</i></p>
                  
                   </marquee>
             <br><br><br><br>
             <img style="margin-left:37%;"src="../static/uploadhead.JPG">
              <section>
          <div class="container" >
            <div class="email"> {{text | safe}} </div>
            <form action="{{url_for('upload_image')}}" method="POST" enctype="multipart/form-data">
              <!-- <input style="color:black;" type="file" name="image" id="image"  required> <br><br> -->
              
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="filename" required>
                <label style="width:350px;margin-left: 30%;"class="custom-file-label" for="customFile" aria-required="true" id="list">Choose file</label>
              </div>
              <div class="mt-2">
                <button style="margin-right:8%;width:150px;height:50px;" type="submit" class="btn btn-primary" onclick="ButtonClicked()">Upload</button>
              </div>
            </form>
          </div>
        </section>
        <h5 style="margin-left:37%;">Want study material? <a href="{{url_for('downloadfile')}}">Click here!</a></h5>
    
          <br><br><br><br><br><br>
          <section style="background-color: lightgrey; height:100px;">
            <br><br>
      <!-- Button trigger modal -->
     <p style="font-weight: bold; font-style: italic;margin-left:30%;"> Help us improve! Click here to provide us with feedback.&nbsp;
    <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#exampleModal">
      Click here.
    </button></p>
    
    <!-- Modal -->
    <form action="{{url_for('fdback')}}" method="POST">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <!--form-->
             Name
            <input class="form-control" type="text" placeholder="Enter your Name" name="Name_fd"><br>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email_fd">
            </div>
            Component Name:
            <input type="text" style="border:1px solid lightgray;" readonly class="form-control-plaintext" name="Component_fd" value=" Upload Files">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Rate this component out of 5!</label>
              <select class="form-control" id="exampleFormControlSelect1" name="opt" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write your feedback here!</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="txt_fdb"></textarea>
            </div>
            <button class="btn" type="submit"  style="width:100px; height:50px; border-radius: 5px; background-color:rgba(46, 42, 42, 0.801);color:white" onclick="ButtonClicked2()">Submit </button>
              <button type="button" style="width:100px; height:50px; border-radius: 5px; background-color:rgba(46, 42, 42, 0.801);color:white"  class="btn btn-secondary" data-dismiss="modal">Close</button>
         
          <!--form-->
          </div>
         
        </div>
      </div>
      </div>
      </form>
    </section>
    </body>    
    <script>
      
    var input = document.getElementById( 'customFile' );
    var infoArea = document.getElementById( 'list' );
    
    input.addEventListener( 'change', showFileName );
    
    function showFileName( event ) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = fileName;
    }
      
      </script>
    </html>